# SPDX-FileCopyrightText: 2021 Andrea Pappacoda
#
# SPDX-License-Identifier: CC0-1.0

[submodule "subprojects/curl"]
	path = subprojects/curl
	url = https://github.com/curl/curl.git
[submodule "subprojects/inih"]
	path = subprojects/inih
	url = https://github.com/benhoyt/inih.git
[submodule "subprojects/simdjson"]
	path = subprojects/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "subprojects/ut"]
	path = subprojects/ut
	url = https://github.com/boost-ext/ut.git
