Source: cloudflare-ddns
Section: web
Priority: optional
Maintainer: Andrea Pappacoda <andrea@pappacoda.it>
Build-Depends: debhelper-compat (= 13),
               libcurl4-openssl-dev | libcurl4-gnutls-dev | libcurl4-nss-dev,
               libsimdjson-dev (>= 0.6)
Standards-Version: 4.5.1
Homepage: https://github.com/Tachi107/cloudflare-ddns

Package: cloudflare-ddns
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Dynamically change a DNS record using Cloudflare
 This is a oneshot tool: you run it, it updates the DNS record, and terminates.
 To make it run periodically you can use a systemd timer.
